* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lexend", sans-serif;
    color: #fff
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #000000;
    overflow-x: hidden;
}

/* ========== CLASSES MODIFICADORAS ========== */

.wrapper {
    width: 1200px;
    margin: 0 auto;
    padding: 80px 40px;
}

.section__title{
    font-size: 2.5rem;
}

/* ========== NAVBAR ========== */
header {
    width: 100%;
    position: absolute;
    /* z-index: 1000; */
}


.header__navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: none
}

.header__logo {
    width: 140px
}

.header__logo img {
    width: 100%;
}

/* .header__nav-list{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
}
.header__nav-item a{
    text-decoration: none;
} */

/* ========== HERO ========== */
.hero {
    height: 100dvh;
    width: 100vw;
    background-image: url(../img/bg/BG_Header.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.hero__content {
    margin-top: 6rem;
}

.hero__title {
    font-size: 48px;
    font-weight: 900;
    color: #fff;
    line-height: 1;
    margin-bottom: 80px;
    max-width: 661px;
}

.hero__btn {
    position: relative;
    display: inline-block;
    background: none;
    text-decoration: none;
    color: #000;
    width: 404px;
    height: 68px;
    text-align: center;
    line-height: 62px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 12px;
    border: 4px solid #915c00;
    overflow: hidden;
    z-index: 100;
    transition: color 0.3s ease-in-out;
}

.hero__btn::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, #d48500 0%, #F6A723 100%);
    z-index: -1;
    transition: all 0.3s ease-in-out;
    /* transform-origin: center; */
    /* transform: scaleX(1); */
    opacity: 1;
}

.hero__btn:hover {
    color: #fff;
}

.hero__btn:hover::after {
    width: 0;
    opacity: 0.8;
}

/* ========== ABOUT ========== */
.about__content {
    display: flex;
    align-items: end;
}

.about__image {
    display: flex;
    align-items: end;
}

.about__text {
    color: #fff;
    padding-left: 3rem;
    border: 1px solid #F6A723;
    border-left: 0;
    border-radius: 0 12px 12px 0;
    height: 362px;
    width: calc(100% - 465px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about__text h2 {
    margin-bottom: 2rem;
}

.about__text p {
    font-size: 16px;
    font-weight: 300;
    max-width: 540px;
    ;
}

.about__paragraph {
    margin-bottom: 1.5rem;
}

/* ========== PRODUCTS ========== */
.products__title {
    font-weight: 600;
    margin-bottom: 5rem;
}

.product {
    padding: 2.5rem;
    margin-bottom: 2.5rem;
    display: flex;
    align-items: center;
    gap: 5rem;
    background-color: #1B1B1B;
    border-radius: 20px
}

.product4 h3{
    margin-bottom: 1.5rem;
}

.product__content-text {
    width: 387px;
}

.product__content-text h3 {
    font-weight: 500;
    font-size: 2rem;
}

.product__content-text h4 {
    font-size: 1.75rem;
    font-weight: normal;
    margin-bottom: 1.25rem
}

.product__content-text ul {
    padding-left: 2rem;
}

.product__content-text ul li {
    font-size: 1rem;
    font-weight: 300;
}

.product__content-image {
    width: 573px;
    height: 227px;
    padding: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.5rem;
    border-radius: 12px;
    background-color: #fff;
}

.consumiveis__box-img {
    width: 140px;
    height: auto;
}
.consumiveis__box-img img{
    width: 100%;
    height: auto;
}
/* ========== DIFERENCIALS ========== */

.diferencials {
    text-align: center;
}

.diferencials__title {
    font-weight: 600;
    margin-bottom: 5rem;
}

.diferencials__content {
    display: flex;
    justify-content: space-between;
}

.diferencial {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 240px;
    height: 200px;
    background-color: #1B1B1B;
    border-radius: 20px;
}

.diferencial img {
    width: 48px;
    margin-bottom: 1rem;
}

.diferencial p {
    font-size: 1rem;
    line-height: 25px;
    max-width: 180px;
}

/* ========== COMPANIES ========= */

.companies {
    /* height: 100vh; */
    width: 100%;
    background-image: url(../img/bg/bg_Marcas_Parceiras.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    /* box-shadow: 0px 0px 35px 40px rgb(0, 0, 0) inset; */
}

.companies::before,
.companies::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 60px;
    width: 100%;
    z-index: 1;
}

.companies::before {
    top: 0;
    background: linear-gradient(to bottom, #000, transparent);
}

.companies::after {
    bottom: 0;
    background: linear-gradient(to top, #000, transparent);
}

.companies__title {
    margin-bottom: 1.5rem;
}

.companies__wrapper p {
    max-width: 35rem;
}

.companies__paragraph {
    margin-bottom: 1.5rem;
}

.companies__content {
    display: flex;
    gap: 2.5rem;
    flex-wrap: wrap;
    margin-top: 5rem;
}

.companies__content article {
    padding: 2.5rem;
    width: 250px;
    height: 250px;
    background-color: #FFFFFF;
    border-radius: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.companies__content article img {
    width: 100%;
}

/* ========== CONTACT ========== */

.contact__title {
    margin-bottom: 1.5rem;
}

.contact__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 4rem;
    border-radius: 1.25rem;
    margin: 5rem 0;
    background-color: #1B1B1B;
}

.contact__info {
    list-style: none;
}

.contact__info-item {
    display: flex;
    align-items: start;
    gap: 1.5rem;
    margin-bottom: 2.5rem
}

.contact__info-item img {
    width: 40px;
}

.contact__info-item p {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: .5rem;
}

.contact__info-item span {
    font-size: 1rem;
    font-weight: 300;
}

.contact__form {
    width: 100%;
    max-width: 480px;
}

.contact__form h3 {
    font-size: 2rem;
    margin-bottom: 3rem;
}

.contact__form-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.contact__form-item input,
.contact__form-item textarea {
    width: 100%;
    height: 50px;
    padding: 0 1rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #fff;
    font-size: 1rem;
    margin-top: .5rem;
    color: #585858;
    border: 2px solid #1B1B1B;
}

.contact__form-item input::placeholder,
.contact__form-item textarea::placeholder {
    color: #cec9c9
}

.contact__form-item input:focus,
.contact__form-item textarea:focus {
    outline: none;
    border: 2px solid #F6A723;
    box-shadow: 0 0 0 2px rgba(246, 167, 35, 0.3);
}

.contact__form-item textarea {
    padding: 1rem;
    height: 150px;
    resize: none;
    overflow: auto
}

.contact__form button {
    width: 100%;
    height: 64px;
    background-color: #DF900B;
    color: #000;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}



.error-message {
    color: red;
    font-size: 0.875rem;
    margin-top: 4px;
    display: block;
}

input.error, textarea.error {
  border: 2px solid red;
}


.contact__adress {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2.5rem 0;
}

.contact__adress .contact__info-item {
    max-width: 390px;
    height: auto;
}

.contact__adress iframe {
    border-radius: 1.25rem;
}

/* ========== FOOTER ========== */
.footer .wrapper {
    padding-bottom: 2.5rem;
}

.footer__line {
    width: 100%;
    height: 1px;
    margin-bottom: 2rem;
    background-color: #F6A723;
}

.footer__logo {
    text-align: center;
}

/* =========== BREAKPOINTS =========== */

@media screen and (max-width: 1199px){
    .section__title{
        font-size: 2rem;
    }
    .wrapper{
        max-width: 100%;
        padding: 60px 40px;
    }
    .hero__content{
        text-align: center;
    }
    .hero__title {
        max-width: 100%;
        font-size: 36px;
    }
    .about__content {
        flex-direction: column;
        align-items: center;
    }
    .about__image {
        margin-bottom: 5rem;
        width: 80%;
        border-radius: 1.5rem;
        overflow: hidden;
    }
    .about__image img{
        width: 100%;
        height: auto;
    }
    .about__text {
        width: 100%;
        padding: 2.5rem;
        text-align: center;
        border: 1px solid #F6A723;
        border-radius: 12px;
    }
    .about__text p{
        max-width: 100%;
    }
    .product{
        flex-direction: column;
        gap: 2rem;
        padding: 2rem;
    }
    .product__content-text{
        width: 100%;
    }
    .product__content-image{
        width: 100%;
    }
    .diferencials__content{
        flex-wrap: wrap;
        gap: 2rem;
    }
    .diferencial{
        flex: 1 1 250px;
    }
    .companies__content{
        flex-wrap: wrap;
        justify-content: center;
    }
    .companies__content article{
        width: 200px;
        height: 200px;
    }
    .contact__content{
        flex-direction: column;
        align-items: center;
        padding: 1.5rem;
    }
    .contact__form{
        order: -1;
        max-width: 100%;
        margin-bottom: 5rem
    }
    .contact__info{
        flex-wrap: wrap;
        display: flex;
    }
    .cotact__info .contact__info-item{
        flex: 1 1 250px;
        gap: .5rem;
        justify-content: center;
    }
    .contact__info-item p{
        font-size: 1.5rem;
    }
    .contact__adress{
        flex-direction: column;
    }
    .contact__adress iframe{
        width: 100%;
    }
}
@media screen and (max-width: 650px){
    
    .wrapper{
        padding: 40px 15px;
    }
    .section__title{
        font-size: 1.75rem;
    }
    .hero__title {
        font-size: 28px;
    }
    .hero__btn{
        width: 80%;
    }
    .about__image{
        width: 100%;
    }
    .about__text{
        padding: 1.25rem;
    }
    .product__content-text h3{
        font-size: 1.5rem;
    }
    .product__content-text h4{
        font-size: 1.25rem;
    }
    .product__content-image{
        height: auto;
        flex-direction: column;
    }
    .product__content-image div{
        width: 100px;
    }
    .product__content-image div img{
        width: 100%;
    }
    .companies__content{
        gap: 1rem;
    }
     .companies__content article{
        width: 130px;
        height: 130px;
        padding: 20px;
    }
    .contact__info{
        flex-direction: column;
    }
}

