*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lexend", sans-serif;
    color: #fff
}

body{
    background-color: #000000;
}

/* ========== CLASSES MODIFICADORAS ========== */

.wrapper{
    width: 1120px;
    margin: 0 auto;
    padding: 80px 0;
}

/* ========== NAVBAR ========== */
header{
    width: 100%;
    position: absolute;
    /* z-index: 1000; */
    top: 68px;
}
.header__wrapper{
    padding: 0;
}
.header__navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: none
}
.header__logo{
    width: 140px
}
.header__logo img{
    width: 100%;
}
/* .header__nav-list{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
}
.header__nav-item a{
    text-decoration: none;
} */

/* ========== HERO ========== */
.hero{
    height: 100vh;
    width: 100%;
    background-image: url(../img/bg/BG_Header.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}
.hero__content{
    margin-top:6rem;
}
.hero__title{
    font-size: 48px;
    font-weight:900;
    color: #fff;
    line-height: 1;
    margin-bottom: 80px;
}
.hero__btn{
    position: relative;
    display: block;
    background: none;
    text-decoration: none;
    color: #000;
    width: 404px;
    height: 68px; 
    text-align: center;
    line-height: 62px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 12px;
    border: 4px solid #915c00;
    overflow: hidden;
    z-index: 100;
    transition: color 0.3s ease-in-out;
}
.hero__btn::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(180deg,rgba(212, 133, 0, 1) 0%, rgba(246, 167, 35, 1) 100%);
    z-index: -1;
    transition: all 0.3s ease-in-out;
    /* transform-origin: center; */
    /* transform: scaleX(1); */
    opacity: 1;
}
.hero__btn:hover{
    color: #fff;
}
.hero__btn:hover::after{
    width: 0;
    opacity: 0.8;
}
/* ========== ABOUT ========== */
.about__content{
    display: flex;
    align-items: end;
}
.about__image{
    display: flex;
    align-items: end;
}
.about__text{
    color: #fff;
    padding-left: 3rem;
    border: 1px solid #F6A723;
    border-left: 0;
    border-radius: 0 12px 12px 0;
    height: 362px;
    width: calc(100% - 465px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about__text h2{
    font-size: 2.5rem;
    margin-bottom: 2rem;
}
.about__text p{
    font-size: 16px;
    font-weight: 300;
    max-width: 540px;;
}
.about__paragraph{
    margin-bottom: 1.5rem;
}
/* ========== PRODUCTS ========== */
.products__title{
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 5rem;
}
.product{
    padding: 2.5rem;
    margin-bottom: 2.5rem;
    display: flex;
    align-items: center;
    gap: 5rem;
    background-color: #1B1B1B;
    border-radius: 20px
}
.product__content-text{
    width: 387px;
}
.product__content-text h3{
    font-weight: 500;
    font-size: 2rem;
}
.product__content-text h4{
    font-size: 1.75rem;
    font-weight: normal;
    margin-bottom: 1.25rem
}
.product__content-text ul{
    padding-left: 2rem;
}
.product__content-text ul li{
    font-size: 1rem;
    font-weight: 300;
}
.product__content-image{
    padding: 2.5rem 3.75rem;
    display: flex;
    gap: 2.5rem;
    border-radius: 12px;
    background-color: #fff;
}

/* ========== DIFERENCIALS ========== */

.diferencials{
    text-align: center;
}
.diferencials__title{
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 5rem;
}
.diferencials__content{
    display: flex;
    justify-content: space-between;
}
.diferencial{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 240px;
    height: 200px;
    background-color: #1B1B1B;
    border-radius: 20px;
}
.diferencial img{
    width: 48px;
    margin-bottom: 1rem;
}
.diferencial p{
    font-size: 1rem;
    line-height: 25px;
    max-width: 180px;
}

/* ========== COMPANIES ========= */

.companies{
    height: 100vh;
    background-image: url(../img/bg/bg_Marcas_Parceiras.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 70px 50px -21px rgba(0, 0, 0, 0.959) inset;
}
.companies__title{
    font-size: 2.5rem;
    margin-bottom: 1.5rem; 
}
.companies__wrapper p{
    max-width: 35rem;
}
.companies__paragraph{
    margin-bottom: 1.5rem;
}
.companies__content{
    display: flex;
    gap: 2.5rem;
    flex-wrap: wrap;
    margin-top: 5rem;
}
.companies__content article{
    padding: 2.5rem;
    width: 250px;
    height: 250px;
    background-color: #FFFFFF;
    border-radius: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.companies__content article img{
    width: 100%;
}

/* ========== CONTACT ========== */
